body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.v-resizeable {
	resize: vertical;
	overflow: auto;
}

.h-resizeable {
	resize: horizontal;
	overflow: auto;
}

.resizeable {
	resize: both;
	overflow: auto;
}

.word-hover {
	cursor: pointer;
	background-color: #00B2EE;
	/* font-size: 1em; */
}

.word-click {
	cursor: pointer;
	background-color: #09a709;
	/* font-size: 1em; */
}